<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>


	<connectionStrings>
		<!--<add name="MyContext" connectionString="Data Source=DESKTOP-1I1KGJE\SQLEXPRESS01;database=BlogDB;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
		<add name="MyContext" connectionString="data source=capstoneserver1.database.windows.net;Persist Security Info=False;User ID=d4rshsh;Password=Darshan.sundar14;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
