@model Blog_MVC.Models.Admin

@{
    ViewData["Title"] = "AdminLogin";
}

<h1>Admin Login Page</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AdminLogin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmailId" class="control-label"></label>
                <input asp-for="EmailId" class="form-control" />
                <span asp-validation-for="EmailId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <h6 style="color:red" class="text-center">
                @ViewBag.msg</h6>
                <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>



